.App {
  background: #ffe6ff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". intro intro . app ."
  ". intro intro . button .";
  height: 100vh;
}

* {
  font-family: 'Quattrocento Sans', sans-serif;
}